s/{{PROXY_REQ_RATE}}/$PROXY_REQ_RATE/g
s/{{PROXY_LIMIT_CONN}}/$PROXY_LIMIT_CONN/g
s/{{PROXY_CONNECT_TIMEOUT}}/$PROXY_CONNECT_TIMEOUT/g
s/{{PROXY_READ_TIMEOUT}}/$PROXY_READ_TIMEOUT/g
s/{{PROXY_SEND_TIMEOUT}}/$PROXY_SEND_TIMEOUT/g
s/{{PROXY_TARGET_PROTOCOL}}/$PROXY_TARGET_PROTOCOL/g
s/{{PROXY_TARGET_PORT}}/$PROXY_TARGET_PORT/g